
  <div class="modal-box">
    <div class="wrapper">
      @if(authView === 'login'){
      <ng-content>
        <div class="title" class="login">Login</div>
        <button class="btn btn-primary" (click)="register()">Register</button>
        <button class="btn btn-primary" (click)="forgetPassword()">Forget Password</button>
         <button class="btn btn-primary" (click)="onClose()">Close</button>
      </ng-content>

      } @else if(authView === 'register'){
      <ng-content>
        <div class="title">Register</div>
        <button class="btn btn-primary" (click)="login()">Login</button>
        <button class="btn btn-primary" (click)="forgetPassword()">Forget Password</button>
        <button class="btn btn-primary" (click)="onClose()">Close</button>
      </ng-content>
      } @else if(authView === 'forget-password'){
      <ng-content>
        <div class="title">Forget Password</div>
        <button class="btn btn-primary" (click)="login()"> Login</button>
        <button class="btn btn-primary" (click)="register()">Register</button>
        <button class="btn btn-primary" (click)="onClose()">Close</button>
      </ng-content>
      }

    </div>
  </div>
