<header class="header shadow w-full flex min-h-24 justify-center items-center">

    <div class=" w-full  lg:w-[1000px] xl:w[1250px]  2xl:w-[1500px] mx-auto  flex  justify-between">

        <div class="logo min-w-[200px]  flex items-center justify-center ">
            <a href="" class="logo flex ">
                <img src="assets/images/anaxim_1.png" width="200" height="150" class="" alt="cozynest">
            </a>
        </div>

        <div class="center-area w-full  flex justify-center items-center ">
            <div class="search-area ">
                <input type="text" placeholder="Xlarge" class="input input-xl" />
            </div>

          

        </div>
        <div class="right-optins flex justify-center items-center  gap-5 py-0.5 px-5">
        <app-wishlist></app-wishlist>
        <app-cart></app-cart>
       <app-account></app-account>
        </div>

    
    </div>

</header>