/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:wght@500;@600;@700&display=swap');

@import 'swiper/swiper-bundle.css';
@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --font-sans: 'Cormorant Garamond', sans-serif;
  --font-serif: 'Montserrat', serif;
}




  .test {
    @apply  border-2 border-b-fuchsia-200;
  }
  .navbar a {
    @apply  font-serif text-2xl font-medium p-2;
  }

  html {
    @apply scroll-smooth;
  }

